# Preprocessing Befor the MapReduce funcation

In [2]:
# Import the importnat file
import pandas as pd
from functools import reduce

# ŸçRead the data

In [3]:
df = pd.read_csv('Tadawul_stcks_clean.csv')

In [4]:
# read the head od dataframe
df.head()

,trading_name,sector,date,open_price,high_price,low_price,close_price,change,perc_Change,volume_traded,value_traded,num_trades,Year,month,day,Change_category
0,SARCO,Energy,2020-03-05,35.55,35.85,34.90,34.90,-0.40,-1.13,436609.0,15399073.50,804.0,2020,March,Thursday,Bad Change
1,SARCO,Energy,2020-03-04,34.70,35.65,34.50,35.30,0.25,0.71,737624.0,25981391.35,1268.0,2020,March,Wednesday,Good Change
2,SARCO,Energy,2020-03-03,34.70,35.15,34.70,35.05,1.05,3.09,489831.0,17116413.40,854.0,2020,March,Tuesday,Good Change
3,SARCO,Energy,2020-03-02,35.20,35.65,34.00,34.00,-0.55,-1.59,736157.0,25858700.60,1242.0,2020,March,Monday,Bad Change
4,SARCO,Energy,2020-03-01,35.35,35.60,34.25,34.55,-2.05,-5.60,738685.0,25747967.55,1625.0,2020,March,Sunday,Bad Change

## Data Information

In [5]:
# Check the Data type of column 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579431 entries, 0 to 579430
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   trading_name     579431 non-null  object
 1   sector           579431 non-null  object
 2   date             579431 non-null  object
 3   open_price       579431 non-null  float64
 4   high_price       579431 non-null  float64
 5   low_price        579431 non-null  float64
 6   close_price      579431 non-null  float64
 7   change           579431 non-null  float64
 8   perc_Change      579431 non-null  float64
 9   volume_traded    579431 non-null  float64
 10  value_traded     579431 non-null  float64
 11  num_trades       579431 non-null  float64
 12  Year             579431 non-null  int64
 13  month            579431 non-null  object
 14  day              579431 non-null  object
 15  Change_category  579431 non-null  object
dtypes: float64(9), int64(1), object(6)
memory usage: 70.7+ MB

## Select the  columns

In [6]:
column_name = ['Change_category' ,'sector' ]
new_df =df[column_name]

In [35]:
# read the new dataframe
new_df.head()

   sector Change_category
0  Energy      Bad Change
1  Energy     Good Change
2  Energy     Good Change
3  Energy      Bad Change
4  Energy      Bad Change

## Convert to CSV file

In [7]:
new_df.to_csv('data.csv')

In [11]:
# read new data frame
new_data = pd.read_csv('data.csv')

## Count the sector

In [14]:
new_data.sector.value_counts()

Financials                144850
Materials                 141544
Consumer Staples           64686
Industrials                63937
Consumer Discretionary     54856
Real Estate                44463
Communication Services     21348
Health Care                17825
Energy                     15731
Utilities                   9385
IT                           806
Name: sector, dtype: int64

## Count the Change Category

In [17]:
new_data.Change_category.value_counts()

Bad Change     263098
Good Change    250635
Stable          65698
Name: Change_category, dtype: int64

# -----------------------------------------------------------------------------------------